# Created by .ignore support plugin (hsz.mobi)
.idea

## Python
.coverage
.eggs/
.mypy_cache/
.pytest_cache/
.venv
__pycache__
rdltr.egg-info/
/pip-wheel-metadata/
/build/
/dist/
/docsrc/build/

## VueJS
rdltr_front/node_modules/
#rdltr/dist/
yarn-debug.log*
yarn-error.log*


## App
Makefile.custom.config
*.db
*.log
